*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Ibarra Real Nova', serif;
    height:10000px;
    position:relative;
}

#navb{
    
    width: 100%;
    margin: auto;

    

    border: 1px sold red;
}

#headbar{
    width: 100%;
    height: 50px;

    margin: auto;

    background-color:#0f1b29 ;
}

#heade{
    width: 55%;

   
    margin: auto;
    opacity: .60;
    color: #fff;

    font-size: 115%;
}

#navsec{
    display: flex;
    justify-content: space-around;

    padding-top: 3%;

    width: 90%;
    margin: auto;
}

#himg{
    width: 14%;
}

img{
    width: 100%;

    height: 70%;
    margin: auto;
}

a{
    text-decoration: none;
    font-size: 130%;
    color:#0f1b29;
    position:sticky;
    top:0px;
}

#compare_plans{
   /* position: sticky;
    top:0px; */
    width:80%;
    margin:auto;
    margin-top:40px;
    display:flex;
    /* border:1px solid black; */
    justify-content: space-between;
}
#compare_plans>div:nth-child(2){
    width:70%;
    display:flex;
    justify-content: space-evenly;
}
.btn2{
    position:sticky;
    top:10px;
    padding:8px;
    display:block;
    width:60%;
    margin:auto;
    margin-top:60px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(20, 20, 23);
    color: white;
    font-size: 15px;
    border:none;
    border-radius: 5px;
}

#btn_3{
    background-color: rgb(225, 16, 148);
}


#compare_plans>div:nth-child(1)>h1{
    font-family: 'Oswald', sans-serif;
    position:sticky;
    top:5px;
}
#compare_plans>div>div>h2{
    font-family: 'Oswald', sans-serif;
    /* position:sticky;
    top:0px; */
    color:rgb(225, 16, 148);
    text-align: center;
    margin:10px;
}
#compare_plans>div>div>p{
    font-style: italic;
    margin:10px;
    text-align: center;
    line-height: 25px;
}
#compare_plans>div>div>h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
 position:sticky;
    top:0px;
} 
#buttons{
    display: flex;
    justify-content: center;
    padding:5px;
}
.btn1{
    padding:10px;
    border-radius: 10px;
    border: none;
}
#btn_2{
    margin-top:13px;
}

#annual{
    border:1px solid rgb(225, 16, 148);

}
#users>img{
    width:50%;
    height:100%;
}
#users{
    margin-top: 100px;
    margin-left:110px;
}
#users>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Oswald', sans-serif;
   
}
#users>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
}
#users>div:nth-child(2)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#hosting>img{
    width:50%;
    height:100%;
}
#hosting{
    margin-top: 100px;
    margin-left:110px;
}
#hosting>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-items:center ;
    font-family: 'Oswald', sans-serif;
   
}
#hosting>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
#hosting>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
#hosting>div:nth-child(2)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    
}
#hosting>div:nth-child(3)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    
}


#repositories>img{
    width:50%;
    height:100%;
}
#repositories{
    margin-top: 100px;
    margin-left:110px;
}
#repositories>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-items:center ;
    font-family: 'Oswald', sans-serif;
   
}
#repositories>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
#repositories>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
#repositories>div:nth-child(2)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    
}
#repositories>div:nth-child(3)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    align-items: center;
    
}


#private>img{
    width:50%;
    height:100%;
}
#private{
    margin-top: 100px;
    margin-left:110px;
}
#private>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
   
}
#private>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#private>div:nth-child(2)>div:nth-child(2){
    width:60%;
   margin: auto;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#features>img{
    width:50%;
    height:100%;
}
#features{
    margin-top: 100px;
    margin-left:110px;
}
#features>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
   
}
#features>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(2)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#features>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(3)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#features>div:nth-child(4){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(4)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#features>div:nth-child(5){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(5)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#features>div:nth-child(6){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(6)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#features>div:nth-child(7){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#features>div:nth-child(7)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#integrations>img{
    width:50%;
    height:100%;
}
#integrations{
    margin-top: 100px;
    margin-left:110px;
}
#integrations>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
   
}
#integrations>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#integrations>div:nth-child(2)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#integrations>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#integrations>div:nth-child(3)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#integrations>div:nth-child(4){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#integrations>div:nth-child(4)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#security>img{
    width:50%;
    height:100%;
}
#security{
    margin-top: 100px;
    margin-left:110px;
}
#security>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
   
}
#security>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#security>div:nth-child(2)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#security>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#security>div:nth-child(3)>div:nth-child(2){
    width:60%;
    margin-right: 160px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#security>div:nth-child(4){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#security>div:nth-child(4)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#support>img{
    width:50%;
    height:100%;
}
#support{
    margin-top: 100px;
    margin-left:110px;
}
#support>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}
#support>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(2)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#support>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(3)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#support>div:nth-child(4){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(4)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#support>div:nth-child(5){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(5)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#support>div:nth-child(6){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(6)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#support>div:nth-child(7){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(7)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#support>div:nth-child(8){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#support>div:nth-child(8)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}

#others>img{
    width:50%;
    height:100%;
}
#others{
    margin-top: 100px;
    margin-left:110px;
}
#others>div:nth-child(1){
    width:10%;
    height:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
   
}
#others>div:nth-child(2){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#others>div:nth-child(2)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#others>div:nth-child(3){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#others>div:nth-child(3)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
#others>div:nth-child(4){
    /* width:90%; */
    display:flex;
    justify-content: space-between;
    padding:10px;
     
}
#others>div:nth-child(4)>div:nth-child(2){
    width:60%;
    margin-right: 180px;
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    
}
.container{
    
    width:60%;
    margin:auto;
    margin-top:150px;
    font-size: 14px;
    
}
      .faq-item{
        padding:15px;
        /* height:40px; */
        border:1px solid rgb(187, 181, 181);
        margin-top:5px;
        
      }
      .faq-body{
        display: none;
        font-size: 17px;
      }
      
      .faq-inner{
        padding: 30px;
      }
      .faq-plus{
        float: right;
        font-size: 20px;
        cursor: pointer;
      }
      